@model IEnumerable<Empleados>

@{
    ViewData["Title"] = "IndexEmpleados";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Empleados</h1>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- ***************** CONTENIDO ***************** -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="col-6 text-end">
                <a asp-controller="Empleados" asp-action="CreateEmpleado" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Nuevo registro
                </a>
            </div>
            <br />

            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Lista</h3>

                            <!-- SEARCH -->
                            <partial name="_IndexSearch" />

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: 420px;">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Doc. Identidad</th>
                                        <th>Nombre completo</th>
                                        <th>Rol</th>
                                        <th>Estado</th>
                                        <th>Aciones</th>
                                    </tr>
                                </thead>

                                <!-- ************ CARGA DE DATOS ***************** -->
                                <tbody>
                                    @foreach (var obj in Model)
                                    {

                                        <tr>
                                            <td width="5%">
                                                @obj.IdEmpleado
                                            </td>
                                            <td width="10%">
                                                @obj.DocIdentidad
                                            </td>
                                            <td width="20%">
                                                @obj.NombreCompleto
                                            </td>
                                            <td width="10%">
                                                @obj.Rol
                                            </td>
                                            <td width="10%">
                                                @obj.Estado
                                            </td>

                                            @{
                                                // datos para la vista parcial de las acciones del INDEX -->
                                                ViewData["AspController"] = "Empleados";
                                                ViewData["AspAction1"] = "DeleteEmpleado";
                                                ViewData["AspAction2"] = "EditEmpleado";
                                                ViewData["AspRouteId"] = obj.IdEmpleado;
                                            }

                                            <!-- Controles: botones de Editar y Borrar -->
                                            <partial name="_IndexActionsControls" />

                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->

                        <!-- Controles: PAGINACIÓN -->
                        <partial name="_IndexPagination" />

                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
